body{
	margin-left: auto;
	margin-right: auto;

	background-image: url('wood.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

h3  {
	margin-top: 10px;
	font-family: 'Lobster';
	color: #F8F8FF;
	font-size: 3em;
	text-align: center;
}

h4{
	margin-top: 10px;
	font-family: 'Lobster', cursive;
	color: #F8F8FF;
	font-size: 2em;
	text-align: center;
}

div#links {
	font-family: verdana;
	color: #F8F8FF;
	font-size: 2.5em;
	text-align: center;
}

#encabezado-links{
	width: 75%;
	height: 700px;
	position: relative;
	margin-left:12%;
	margin-right:  auto;
	border-style: solid;
	border-radius: 20px;
	display: inline-block;
	background-color: black;
	border-color: #edc163;
}

#encabezado-links a {
	display: inline-block;
	padding-left: 20%;
	font-size: 2em;
	margin-bottom: 10px;
	
}



a:link{
	color: #edc163;
}
a:hover{
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none
}