* {
    box-sizing: border-box;
}



@media only screen and (max-width : 480px) {
	[class*="col-"] {
		float: left;
		width: 100% !important;
	}

	header h1{
		display: none;
	}

	div#box-info p span{
		display: none;
	}

	div#box-info h2{
		display: none;
	}
	#box-educacion hr {
		display: none;
	}
	div.institucion div p br{
		display: none;
	}
	div[id|=box]{
		background-color: #d4e3fc;
		border-radius: 20px;
		margin-top: 4px;
		
	}

	#info-foto{
		margin-top: 50px;
		position: relative;
		height: 100px;
	}

	#box-educacion img {
		position: relative;
		height: 90px; 
		width: 60%;

	}

	div#info-foto img{
		position: absolute;
		left: 30%;
		top: -60%;
		width: 40%;
		z-index: 1;
		border: 2px solid;
		border-radius: 10px;
		padding: 0px !important;
		margin: 0px;
	}

	div#info-foto h4{
		position: absolute;
		font-size: 70%;
		width: 36%;
		left: 32%;
		bottom: 46%;
		z-index: 2;
		border: 1px solid;
		border-radius: 5px;
		background-color: rgba(225,225,225,0.6);
		padding: 7px;
		text-align: center;
	}

	div#box-info p{
		text-align: center;
	}

	

	div#caja-principal{
		margin: 15% 0% 4px;

	}

	div#box-datos h2{
		display: none;
	}
	

	#box-educacion{
		padding: 10px;
	}

	#box-educacion h2{
		text-align: center;
	}

	

	#box-educacion div.institucion{
		width: 40%;
		display: inline-block;
		margin: 2%;
	}

	#box-educacion div.institucion img{
		display: block;
		position: static;
		width: 100%;
	}

	#box-educacion div.institucion div{
		display: block;
		position: static;
		
	}

	#box-educacion div.institucion div h4{
		font-size: 80%;
	}

	#box-educacion div.institucion div p{
		font-size: 75%;
		line-height: 16px;
		display: inline;
		margin: 0px;
	}

	#materias-aprobadas {
		text-align: center;
	}

	


	#box-habilidades{
		height: 240px !important;
	}

}