* {
    box-sizing: border-box;
}



@media only screen and (max-width : 480px) {



	body {
		width: 100%;


	}
	div#trailer  {
		display: none;

	}
	
	

	div#movie {
	 	position: relative;
		display: inline-flex;
		width: 46.5%;
		height: 380px;
		padding: 0px;
		margin: 0px 10px 20px 0px;
		
	 }
	 div h3{
	 	display: none;
	 }

	 div:first-child {
		width: 100% !important;
		border:none;
		position: static;
		border-bottom: 2px dotted !important;
		height: 280px !important;
	}

	div:first-child div#reparto {
		display: none;
	}

	div:first-child div#imagen{
		position: static;
		display: inline-block;
		width: 20%;
		margin: 0px;
		padding: 0px;
	}

	div:first-child div#descripcion {
		position: static;
		display: inline-block;
		width: 58%;
		float: right;
		vertical-align: top;
		font-size: 70%;
	}

	div#descripcion{
		display: none;
	}

	div#imagen {
		width: 20%;
		

	}

	div#reparto{
		display: inline;
		position: static;
		width: 100%;

	}
	div#reparto h3{
		display: inline;
		padding: 0px;
		margin:0px;
		font-size: 90%;
	}


	

	ul{
		margin:0px;
		padding: 0px;
		display: inline;
		float: right;
	}
	ul li::after{
		content: ",";
	}


	ul li{
		display: inline;
		font-size: 10px;
		list-style: none;
		order:2;
		
	}

}