* {
    box-sizing: border-box;
}



@media only screen and (max-width : 480px) {



	body {
		width: 100%;


	}
	div#trailer  {
		display: none;

	}
	
	div#descripcion{
		display: none;
	}
	

	div#movie {
	 	position: relative;
		display: inline-flex;
		width: 40%;
		flex-direction: column;
		padding: 0px;
		margin: 0px 10px 20px 0px;
		
	 }
	 div h3{
	 	display: none;
	 }



	 section div:first-child {
		width: 470px !important;
		border:none;
		position: static;
		border-bottom: 2px dotted !important;
		height: 300px !important;
	}

	div:first-child div#reparto {
		display: none;
	}

	div:first-child div#imagen{
		display: inline-block;
		width: 10% !important ; 
		margin: 0px;
		padding: 0px;
		float: left;
		margin-top: 40px;
		margin-left: 30px;
	}

	div:first-child div#descripcion {
		position: static;
		margin-left: 100px;
		margin-bottom: 400px;
		display: inline-block;
		width: 30%;
		float: right; 
		font-size: 70%;
	}

	

	

	div#reparto{
		display: inline;
		position: static;
		width: 100%;
		order:2;

	}
	div#reparto h3{
		display: inline;
		padding: 0px;
		margin:0px;
		font-size: 90%;
	}


	

	ul{
		margin:0px;
		padding: 0px;
		display: inline;
		float: right;
	}
	ul li::after{
		content: ",";
	}


	ul li{
		display: inline;
		font-size: 10px;
		list-style: none;
		order:2;
		
	}

	div#imagen {
		width: 80px;
		height: 60px;
	}

	

}